
.text-align{
    text-align: center;
}


.opacity { 
    opacity: 0.4;
}

.block{ 
    display: block;
}

.strong-man { 
    transform: translate(-105px, -50px);
}

.mt-90{
    margin-top: 90px;
}

.pt-90{
    padding-top: 90px;
}

.forgot-img {
    display: block;
    margin: 0 auto;    
    padding: 33px 0 75px;  
}

.nav__mobil{
    display: none;
}